.giveaway-landing {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 60px;

  .winner-modal {
    &-title {
      text-align: center;
      font-size: 1.2em;
      margin: 0;
      user-select: none;
    }

    &-name {
      text-align: center;
      font-size: 3em;
      font-weight: bold;
      margin: 0;
      margin-top: 0.5em;
    }
  }

  .confetti {
    overflow: hidden;
  }

  .joined-actions {
    max-width: 770px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;

    & > div:nth-child(1) {
      margin-right: 20px;
    }

    & > div:nth-child(2) {
      margin-left: 20px;
    }
  }

  .readable-content {
    background-color: #fff;
    color: #13141d;
    padding-bottom: 20px;
    border-radius: 4px;
    margin-top: 40px;
    max-width: 770px;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    .content {
      max-width: 770px;

      a {
        margin-top: 20px;
        display: block;
        text-align: center;
        font-weight: bold;
        font-size: 0.9em;
      }
    }
  }

  .title {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    h1 {
      margin-left: 30px;
    }
  }

  .twitch-user {
    a {
      svg {
        font-size: 1.5em;
        margin-right: 10px;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }

  .section-container {
    margin-top: 2em;
    width: 100%;
    max-width: 950px;

    h2 {
      color: #fff;
      margin-bottom: 1.5em;
    }

    .share {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;

      h2 {
        color: #fff;
      }

      a {
        color: #fff;
        font-size: 0.9em;
        text-align: center;

        svg {
          margin-right: 2px;
        }
      }
    }

    .participants {
      list-style: none;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      justify-content: center;
      padding: 0;
      margin-top: -0.5em;

      li {
        font-size: 0.7em;
        padding: 8px 12px;
        box-sizing: border-box;
        border-radius: 30px;
        border: 1px solid #666a7c;
        user-select: none;
        margin: 5px;
        color: #666a7c;
      }
    }
  }

  h1,
  h2 {
    margin: 0;
  }

  h1 {
    margin-top: 0.5em;
    font-size: 4em;
    width: 100%;
    max-width: 950px;
    text-align: center;
    margin-bottom: 40px;
  }

  h2 {
    color: #6441a5;
    width: 100%;
    max-width: 950px;
    text-align: center;
  }

  h3 {
    width: 100%;
    max-width: 950px;
    text-align: center;
  }

  .content {
    width: 100%;
    max-width: 950px;
    padding: 20px;
    box-sizing: border-box;

    .text {
      margin-left: 30px;
      font-size: 18px;
      line-height: 1.5em;
    }
  }

  .pick-winner-container {
    text-align: center;

    button.pick-winner {
      cursor: pointer;
      padding: 1em 1.5em;
      background: #6441a5;
      border-radius: 56px;
      color: #fff;
      padding: 30px;
      text-transform: uppercase;
      text-decoration: none;
      display: inline-flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      font-weight: 800;
      font-size: 1.5em;
      user-select: none;
      white-space: nowrap;
      border: 0;

      &:focus {
        outline: none;
      }
    }

    p {
      font-size: 0.9em;
      color: #666a7c;
    }
  }

  .guide {
    &-container {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      &-text {
        margin-left: 10px;
        font-size: 0.85em;
      }
    }
  }
}
