.footer {
  background-color: #010307;
  padding: 15px 20px;

  .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0px auto;
    max-width: 1200px;

    nav {
      display: flex;
      flex-flow: column;
      a {
        text-decoration: none;
        color: #fff;
        font-size: 13px;

        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }

      &.right a {
        text-align: right;
      }

      .accent {
        color: #2f44ff;
      }
    }
  }
}
