.ui-input {
  overflow: hidden;

  &.big {
    input {
      font-size: 1.5em;
      height: 60px;
      font-weight: bold;
    }
  }

  &.small {
    input {
      font-size: 0.8em;
      height: 30px;
    }
  }

  &.disabled {
    input {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &.invalid {
    input {
      border-color: #c0392b;

      &:focus {
        border-color: #c0392b;
      }
    }

    .invalid-label {
      color: #c0392b;
      font-size: 0.8em;
      margin-left: 20px;
      margin-top: 5px;
      display: block;
    }
  }

  input {
    border: 0;
    width: 100%;
    background: none;
    background: #2d314a;

    height: 40px;
    border-radius: 5px;
    color: #fff;
    padding: 0px 20px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 400;
    transition: background 0.15s ease-in-out;

    &::placeholder {
      color: rgba(255, 255, 255, 0.8);
    }

    &:focus {
      outline: none;
      background: #3d4261;
    }
  }
}
