@import "./fonts/raleway/loader.scss";
@import "./fonts/roboto/loader.scss";

html,
body {
  font-family: "Raleway", sans-serif;
  background: #13141d;
  color: #fff;
}

a,
a:visited {
  color: #2f44ff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

* {
  box-sizing: border-box;
}

.tippy-box.contextual-menu {
  .tippy-content {
    padding: 0;
    overflow: hidden;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        cursor: pointer;
        min-width: 150px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        font-size: 14px;
        font-weight: bold;
        padding: 10px;
        user-select: none;

        &:hover {
          text-decoration: underline;
        }

        svg {
          height: 1em;
          margin-right: 5px;
          color: #13141d;
        }
      }
    }
  }
}

.MuiButton-contained.Mui-disabled {
  cursor: not-allowed !important;
  color: rgba(255, 255, 255, 0.4) !important;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.3) !important;

  & > span {
    cursor: not-allowed !important;
  }
}

.MuiAlert-standardError {
  color: #c0392b !important;
  background-color: transparent !important;
}

.react-toast-notifications__toast__content {
  font-size: 16px !important;
  font-family: Roboto, sans-serif;
}

.MuiAlert-message {
  font-family: Raleway, "sans-serif";
  font-weight: bold;
}

.MuiAlert-standardInfo {
  margin-bottom: 20px !important;
  background: #282b3f !important;
  font-family: "Roboto" !important;
  color: #fff !important;

  .MuiAlert-message {
    font-weight: normal !important;
  }

  .MuiAlert-icon {
    color: #fff !important;
  }
}
